<p id="notice"><%= notice %></p>

<h2>Cars</h2>

   <div id="cardContainer">     
    <% @cars.each do |car| %>
      <div id="cards">
        <div id="brand"><%= car.brand %></div>
        <div id="model"><%= car.model %></div>
        <div><%= link_to (image_tag car.url, :class=> "carImage" ), car  %></div>
        <div><%= link_to 'Show ', car %><%= link_to 'Edit ', edit_car_path(car) %><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  
</div>

<br>

<%= link_to 'New Car', new_car_path %>
