<p id="notice"><%= notice %></p>
<div id="cont">
  <%# <div id="brand"><strong>Brand:</strong></div> %>
  <div id="brand"><%= @car.brand %></div>


  <%# <div id="brand"><strong>Model:</strong></div> %>
  <div id="model"> <%= @car.model %></div>
</div>
<p>
  <%= image_tag @car.url, :class=> 'carImage2' %>
</p>

<%# <%= link_to 'Edit', edit_car_path(@car) %> 
<%= link_to 'Back', cars_path, id:"linktext"  %>
